<div id="root">
  <header>
    <div class="container">
      <mat-icon svgIcon="logo" class="logo"></mat-icon>
      <nav>
        <a>Explore</a>
        <a>Tecnologia</a>
        <a>Sobre o querido diário</a>
        <a>
          <mat-icon svgIcon="notification" class="notification"></mat-icon>
        </a>
        <button class='btn'>Apoie</button>
      </nav>
    </div>
  </header>


  <section class="bg-white-1">
    <div class="container explore" style="height: 442px;">
      <div>
        <h1>Explore os diários oficiais dos municípios e fique de olho nas ações dos governos</h1>
        <form>
          <ul>
            <li class="search">
              <input type="text" placeholder="Ex.: licitação, contratação, COVID 19">
            </li>

            <li class="city">
              <input type="text" placeholder="Municípios">
            </li>

            <li class="period">
              <input type="text" placeholder="Período">
            </li>

            <li>
              <button class='btn'>Pesquisar</button>
            </li>
          </ul>
        </form>
      </div>
    </div>
  </section>
  <section class="bg-purple-1">
    <div class="container follow" style="height: 460px;">
      <h2>Acompanhe a evolução do Querido Diário</h2>
      <mat-grid-list cols="3" rowHeight="106px">
        <mat-grid-tile>
          <div class="follow-card flex">
            <mat-icon svgIcon="check"></mat-icon>
            <ul class="content-inner">
              <li class="count">12</li>
              <li>Cidade já estão na plataforma</li>
            </ul>
          </div>
        </mat-grid-tile>
        <mat-grid-tile>
          <div class="follow-card flex">
            <mat-icon svgIcon="search"></mat-icon>
            <ul class="content-inner">
              <li class="count">2.226</li>
              <li>Cidades já têm robôs para coletar diários</li>
            </ul>
          </div>
        </mat-grid-tile>
        <mat-grid-tile>
          <div class="follow-card flex">
            <mat-icon svgIcon="pin"></mat-icon>
            <ul class="content-inner">
              <li class="count">597</li>
              <li>Cidades já foram mapeadas pelo censo</li>
            </ul>
          </div>
        </mat-grid-tile>
      </mat-grid-list>
      <p>Conheça os nívels de acesso</p>
    </div>
  </section>
  <section class="bg-purple-2">
    <div class="container help" style="height: 567px">
      <h2>Precisamos do seu apoio</h2>
      <mat-grid-list cols="3" rowHeight="306px">
        <mat-grid-tile>
          <div class="card">
            <ul>
              <li>
                <mat-icon svgIcon="box" class="box-icon"></mat-icon>
              </li>
              <li class="title">
                Nossa próxima meta
              </li>
              <li>
                Hoje poderíamos ter 2226 cidades na plataforma, e você pode nos ajudar a chegar lá:
              </li>
              <li>
                <button class="donation">
                  Doe
                </button>
                <button class="goals">
                  Ver todas as metas
                </button>
              </li>
            </ul>
          </div>
        </mat-grid-tile>
        <mat-grid-tile>
          <div class="card">
            <ul>
              <li>
                <mat-icon svgIcon="document" class="document-icon"></mat-icon>
              </li>
              <li class="title">
                Cadastre um nunicípio
              </li>
              <li>
                Cadastre um município - precisamos saber onde as prefeituras publicam seus diários oficiais
              </li>
              <li>
                <button class="censo">
                  Ir para censo
                </button>
              </li>
            </ul>
          </div>
        </mat-grid-tile>
        <mat-grid-tile>
          <div class="card">
            <ul>
              <li>
                <mat-icon svgIcon="dev" class="dev-icon"></mat-icon>
              </li>
              <li class="title">
                Contribua como desenvolvedor
              </li>
              <li>
                Contribua com código - o Querido Diário é um projeto de código aberto, então qualquer pessoa pode
                colaborar com novas funcionalidades para a plataforma
              </li>
              <li>
                <button class="start">
                  Comece por aqui
                </button>
              </li>
            </ul>
          </div>
        </mat-grid-tile>
      </mat-grid-list>
    </div>
  </section>
  <section class="bg-purple-1">
    <div class="container goals" style="height: 785px;">
      <div class="container-inner">
        <h2>Nossas Metas</h2>
        <p>O querido diário está só começando! Temos vários objetivos para o projeto, e você pode nos ajudar a chegar
          lá:
        </p>
      </div>
      <mat-grid-list cols="4" rowHeight="470px">
        <mat-grid-tile>
          <div class="card goals">
            <ul>
              <li>
                <mat-icon svgIcon="ok-hand" class="hand-icon"></mat-icon>
              </li>
              <li class="title">
                Chegamos aqui!
              </li>
              <li>
                Já construímos toda a infraestrutura e libertamos 12 capitais.
              </li>
              <li class="money">
                <span>
                  R$ 2.000
                </span>
              </li>
            </ul>
          </div>
        </mat-grid-tile>
        <mat-grid-tile>
          <div class="card goals">
            <ul>
              <li>
                <mat-icon svgIcon="computer" class="computer-icon"></mat-icon>
              </li>
              <li class="title">
                Plataforma turbinada!
              </li>
              <li>
                + 100 municípios disponíveis na plataforma e mecanismo de busca mais eficiente.
              </li>
              <li class="money">
                R$ 6.000
              </li>
              <li>
                <a>
                  Ir para o Catarse
                  <mat-icon svgIcon="right-arrow" class="right-arrow"></mat-icon>
                </a>
              </li>
            </ul>
          </div>
        </mat-grid-tile>
        <mat-grid-tile>
          <div class="card goals">
            <ul>
              <li>
                <mat-icon svgIcon="project" class="project-icon"></mat-icon>
              </li>
              <li class="title">
                O Brasil é o limite!
              </li>
              <li>
                Todas as cidades brasileiras com mais de 100 mil habitantes na plataforma.
              </li>
              <li class="money">
                R$ 10.000
              </li>
              <li>
                <a>
                  Ir para o Catarse
                  <mat-icon svgIcon="right-arrow" class="right-arrow"></mat-icon>
                </a>
              </li>
            </ul>
          </div>
        </mat-grid-tile>
        <mat-grid-tile>
          <div class="card goals">
            <ul>
              <li>
                <mat-icon svgIcon="graphics" class="graphics-icon"></mat-icon>
              </li>
              <li class="title">
                Busca inteligente
              </li>
              <li>
                Cruzamentos com bases de dados relevantes e sistema de recomendação de conteúdo.
              </li>
              <li class="money">
                R$ 14.000
              </li>
              <li>
                <a>
                  Ir para o Catarse
                  <mat-icon svgIcon="right-arrow" class="right-arrow"></mat-icon>
                </a>
              </li>
            </ul>
          </div>
        </mat-grid-tile>
      </mat-grid-list>
    </div>
  </section>
  <section class="bg-white-1">
    <div class="container summary" style="height: 546px;">
      <div class="container-inner">
        <h2>Entenda</h2>
      </div>
      <mat-grid-list cols="3" rowHeight="269px">
        <mat-grid-tile>
          <div class="card goals">
            <ul>
              <li>
                Níveis de acesso
              </li>
              <li>
                Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo.
              </li>
              <li>
                <a>
                  Ler mais
                  <mat-icon svgIcon="right-arrow-white" class="right-arrow-white"></mat-icon>
                </a>
              </li>
            </ul>
          </div>
        </mat-grid-tile>
        <mat-grid-tile>
          <div class="card goals">
            <ul>
              <li>
                Glossário
              </li>
              <li>
                Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo.
              </li>
              <li>
                <a>
                  Ler mais
                  <mat-icon svgIcon="right-arrow-white" class="right-arrow-white"></mat-icon>
                </a>
              </li>
            </ul>
          </div>
        </mat-grid-tile>
        <mat-grid-tile>
          <div class="card goals">
            <ul>
              <li>
                Como denunciar ou pedir informações
              </li>
              <li>
                Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo.
              </li>
              <li>
                <a>
                  Ler mais
                  <mat-icon svgIcon="right-arrow-white" class="right-arrow-white"></mat-icon>
                </a>
              </li>
            </ul>
          </div>
        </mat-grid-tile>
      </mat-grid-list>
    </div>
  </section>
  <section class="bg-purple-2">
    <div class="container" style="height: 631px;">
      <mat-grid-list cols="1" rowHeight="631px">
      </mat-grid-list>
    </div>
  </section>
  <section class="bg-purple-2">
    <div class="container" style="height: 283px;">
      <mat-grid-list cols="1" rowHeight="283px">
        <h2>Conheça a trajetória e os próximos passos do Querido Diário</h2>
        <br /><br />
        <p>Saiba mais sobre o projeto</p>
      </mat-grid-list>
    </div>
  </section>
  <section class="bg-white-1">
    <div class="container partners" style="height: 248px;">
      <mat-grid-list cols="2" rowHeight="86px">
        <mat-grid-tile>
          <div>
            <p>Realização</p>
            <ul>
              <li>
                <mat-icon svgIcon="logo-OK" class="logo-OK"></mat-icon>
              </li>
              <li>
                <mat-icon svgIcon="logo-serenata" class="logo-serenata"></mat-icon>
              </li>
              <li>
                <mat-icon svgIcon="logo-embaixadores" class="logo-embaixadores"></mat-icon>
              </li>
            </ul>
          </div>
        </mat-grid-tile>
        <mat-grid-tile>
          <div>
            <p>Apoio</p>
            <ul>
              <li>
                <mat-icon svgIcon="logo-Ilda" class="logo-Ilda"></mat-icon>
              </li>
              <li>
                <mat-icon svgIcon="logo-jurema" class="logo-jurema"></mat-icon>
              </li>
              <li>
                <mat-icon svgIcon="logo-digitalocean" class="logo-digitalocean"></mat-icon>
              </li>
            </ul>
          </div>
        </mat-grid-tile>
      </mat-grid-list>
    </div>
  </section>
  <router-outlet></router-outlet>
  <section class="bg-purple-1">
    <div class="container sitemap">
      <mat-grid-list cols="4" rowHeight="165px">
        <mat-grid-tile>
          <ul>
            <li>Apoie</li>
            <li>Cadastre um município</li>
            <li>Nossas Metas</li>
            <li>Quem apoia</li>
            <li>Envie sua sugestão</li>
          </ul>
        </mat-grid-tile>
        <mat-grid-tile>
          <ul>
            <li>Tecnologia</li>
            <li>Documentação</li>
            <li>Contrinua com código</li>
            <li>Relatórios</li>
            <li>Blog</li>
          </ul>
        </mat-grid-tile>
        <mat-grid-tile>
          <ul>
            <li>Sobre</li>
            <li>História</li>
            <li>Casos de sucesso</li>
            <li>Quem somos</li>
            <li>Política de privacidade</li>
          </ul>
        </mat-grid-tile>
        <mat-grid-tile>
          <ul>
            <li>Redes Sociais</li>
            <li>
              <mat-icon svgIcon="twitter"></mat-icon>
              <mat-icon svgIcon="instagram"></mat-icon>
              <mat-icon svgIcon="facebook"></mat-icon>
              <mat-icon svgIcon="linkedin"></mat-icon>
            </li>
          </ul>
        </mat-grid-tile>
      </mat-grid-list>
    </div>

  </section>
  <footer class="bg-purple-1">
    <section>
      <div class="container">
        <div>
          <div class='icons'>
            <mat-icon svgIcon="bitmap"></mat-icon>
            <mat-icon svgIcon="circle-person"></mat-icon>
          </div>
          <div>
            <p>
              Todo o conteúdo do Querido Diário está disponível sob a licença Creative Commons Atribuição 4.0
              Internacional, o que significa que pode ser compartilhado e reutilizado para trabalhos derivados, desde
              que
              citada a fonte.
            </p>
            <p>
              Desenvolvedores/as: temos dados abertos e API ♥ Conheça e contribua com o código
            </p>
          </div>
        </div>
      </div>
    </section>
  </footer>
</div>