<div id="root">
  <header>
    <button mat-button [matMenuTriggerFor]="aboveMenu" class="logo">Logo</button>
    <nav>
      <button mat-button [matMenuTriggerFor]="aboveMenu">Explore</button>
      <mat-menu #aboveMenu="matMenu" yPosition="above">
        <button mat-menu-item>Item 1</button>
        <button mat-menu-item>Item 2</button>
      </mat-menu>

      <button mat-button [matMenuTriggerFor]="belowMenu">Tecnologia</button>
      <mat-menu #belowMenu="matMenu" yPosition="below">
        <button mat-menu-item>Item 1</button>
        <button mat-menu-item>Item 2</button>
      </mat-menu>

      <button mat-button [matMenuTriggerFor]="beforeMenu">Sobre o querido diário</button>
      <mat-menu #beforeMenu="matMenu" xPosition="before">
        <button mat-menu-item>Item 1</button>
        <button mat-menu-item>Item 2</button>
      </mat-menu>

      <button mat-button [matMenuTriggerFor]="afterMenu">Notificações</button>
      <mat-menu #afterMenu="matMenu" xPosition="after">
        <button mat-menu-item>Item 1</button>
        <button mat-menu-item>Item 2</button>
      </mat-menu>

      <button mat-button [matMenuTriggerFor]="afterMenu">Apoie</button>
    </nav>
  </header>


  <section>
    <div class="container bg-white-1">
      <mat-grid-list cols="1" rowHeight="2:1">
        <mat-grid-tile>
          <h1>Explore os diários oficiais dos municípios e fique de olho nas ações dos governos</h1>
          <form>
          </form>
        </mat-grid-tile>
      </mat-grid-list>
    </div>
  </section>
  <section>
    <div class="container bg-purple-1">
      <h2>Acompanhe a evolução do Querido Diário</h2>
      <mat-grid-list cols="3" rowHeight="2:1">
        <mat-grid-tile>
          <div class="card">
            <p class="count">12</p>
            <p>Cidade já estão na plataforma</p>
          </div>
        </mat-grid-tile>
        <mat-grid-tile>
          <div class="card">
            <p class="count">2.226</p>
            <p>Cidades já têm robôs para coletar diários</p>
          </div>
        </mat-grid-tile>
        <mat-grid-tile>
          <div class="card">
            <p class="count">597</p>
            <p>Cidades já foram mapeadas pelo censo</p>
          </div>
        </mat-grid-tile>
      </mat-grid-list>
      <p>Conheça os nívels de acesso</p>
    </div>
  </section>
  <section>
    <div class="container bg-purple-2">
      <h2>Precisamos do seu apoio</h2>
      <mat-grid-list cols="3" rowHeight="2:1">
        <mat-grid-tile>
          <div class="card">
            <p class="count">Nossa próxima meta</p>
            <p>Cidades já foram mapeadas pelo censo</p>
          </div>
        </mat-grid-tile>
        <mat-grid-tile>
          <div class="card">
            <p class="count">Cadastre um nunicípio</p>
            <p>Cidades já foram mapeadas pelo censo</p>
          </div>
        </mat-grid-tile>
        <mat-grid-tile>
          <div class="card">
            <p class="count">Contrinua como desenvolvedor</p>
            <p>Cidades já foram mapeadas pelo censo</p>
          </div>
        </mat-grid-tile>
      </mat-grid-list>
    </div>
  </section>
  <section>
    <div class="container bg-purple-1">
      <h2>Nossas Metas</h2>
      <p>O querido diário está só começando! Temos vários objetivos para o projeto, e você pode nos ajudar a chegar lá:
      </p>
      <mat-grid-list cols="4" rowHeight="2:1">
        <mat-grid-tile>
          <div class="card">
            <p class="count">Chegamos aqui!</p>
            <p>Cidades já foram mapeadas pelo censo</p>
          </div>
        </mat-grid-tile>
        <mat-grid-tile>
          <div class="card">
            <p class="count">Plataforma turbinada!</p>
            <p>Cidades já foram mapeadas pelo censo</p>
          </div>
        </mat-grid-tile>
        <mat-grid-tile>
          <div class="card">
            <p class="count">O Brasil é o limite!</p>
            <p>Cidades já foram mapeadas pelo censo</p>
          </div>
        </mat-grid-tile>
        <mat-grid-tile>
          <div class="card">
            <p class="count">Busca inteligente!</p>
            <p>Cidades já foram mapeadas pelo censo</p>
          </div>
        </mat-grid-tile>
      </mat-grid-list>
    </div>
  </section>
  <section>
    <div class="container bg-white-1">
      <h2>Entenda</h2>
      <mat-grid-list cols="3" rowHeight="2:1">
        <mat-grid-tile>
          <div class="card">
            <p class="count">Níveis de acesso</p>
            <p>Cidades já foram mapeadas pelo censo</p>
          </div>
        </mat-grid-tile>
        <mat-grid-tile>
          <div class="card">
            <p class="count">Glossário</p>
            <p>Cidades já foram mapeadas pelo censo</p>
          </div>
        </mat-grid-tile>
        <mat-grid-tile>
          <div class="card">
            <p class="count">Como denunciar ou pedir informações</p>
            <p>Cidades já foram mapeadas pelo censo</p>
          </div>
        </mat-grid-tile>
      </mat-grid-list>
    </div>
  </section>
  <section>
    <div class="container">
      <h2>Conheça a trajetória e os próximos passos do Querido Diário</h2>
      <p>Saiba mais sobre o projeto</p>
    </div>
  </section>
  <section>
    <div class="container bg-white-1">
      <h2>Realização</h2>
    </div>
  </section>
  <router-outlet></router-outlet>
  <footer>
    <div class="container bg-purple-1">
      <mat-grid-list cols="4" rowHeight="2:1">
        <mat-grid-tile>
          <ul>
            <li>Apoie</li>
            <li>Cadastre um município</li>
            <li>Nossas Metas</li>
            <li>Quem apoia</li>
            <li>Envie sua sugestão</li>
          </ul>
        </mat-grid-tile>
        <mat-grid-tile>
          <ul>
            <li>Tecnologia</li>
            <li>Documentação</li>
            <li>Contrinua com código</li>
            <li>Relatórios</li>
            <li>Blog</li>
          </ul>
        </mat-grid-tile>
        <mat-grid-tile>
          <ul>
            <li>Sobre</li>
            <li>História</li>
            <li>Casos de sucesso</li>
            <li>Quem somos</li>
            <li>Política de privacidade</li>
          </ul>
        </mat-grid-tile>
        <mat-grid-tile>
          <p>Redes Sociais</p>
        </mat-grid-tile>
      </mat-grid-list>
    </div>
  </footer>
</div>